{% extends "base.html" %}

{% block content %}
<body>
    
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">ΙΔΕΥΑ</a>
          {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> {% endcomment %}
    
          {% comment %} <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>  {% endcomment %}
            {% comment %} <form class="form-inline my-2 my-lg-0"> 
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> {% endcomment %}
          </div>
        </nav>
    
        <main role="main">
    
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">{{page_obj.title}}</h1>
              <p>{{page_obj.title_description | linebreaks}}</p>
              {% if title_btn_url %}
              <p><a class="btn btn-primary btn-lg" href="{{title_btn_url}}" role="button">{{title_btn}}</a></p>
              {% endif %}
            </div>
          </div>
    
          <div class="container">
            <!-- Example row of columns -->
                    <p>
                    {% comment %} <form method="POST" action=""> {% csrf_token %}
                    {{form.as_p}} 
                    <div class="input-group">
                    <input type="email" name="email" placeholder="Your Email" class="form-control">
                    <span class="input-group-btn">
                    <input type="submit" value="Join" class="btn btn-default" />
                    </span>
                    </div>
                    </form> {% endcomment %}
                    <form class='join-form form-inline text-center' method='POST' action=''>{% csrf_token %}
                        <div class='alert alert-danger alert-dismissable join-form-alert' style='display:none'> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class='join-form-error'></span>
                        </div>
                        <div class='input-group'>
                        <label style='padding: 0px 20px;font-size: 20px;'>
                        Join Us
                        </label>
                        </div>
                            <div class="input-group">
                    
                             <input type='email' name='email' class='form-control sign-up-email-form' placeholder="Your email...">
                             <div class='input-group-addon' style="background-color: #fff; border-left:0px;">
                                <i class='fa fa-envelope'></i>
                             </div>
                              
                            </div><!-- /input-group -->
                        <input type='submit' value='Join' class='btn btn-primary' />
                    </form>
                    </p>
                </div>
            </div></div>
          </div>
            
              
                    {% comment %} <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfkoB3n71DDpOiw85gaZyu5oQhvUSlj4XzVOjklFVUL7bYA7g/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> {% endcomment %}
            <div class="container">
              {{ page_obj.content|safe }}
            </div>
            <hr>
    
          </div> <!-- /container -->
    
        </main>
        <footer class="container">
          <p>&copy; IΔΕΥΑ 2017</p>
        </footer>
      </div>
{% endblock content %}